@import url();
@import url();
@import url(componentes/Container.css);
@import url(Container.css);
@import url(componentes/Card.css);
@import url(Card.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url(Navegacion.css);
@import url(componentes/Navegacion.css);
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ea5455;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
    display: flex;
    /* display: inline; */
    justify-content: center;
    align-items: center;
    height: 100vh;
   }

progress{
  
}

.progress-bar{
  width: 25%;
}


